* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.calculator {
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 500px;
    height: 700px;
}

.screen {
    background-color: lightgrey;
    height: 150px;
    width: 450px;
    margin: 20px 0 20px 0;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: flex-end;
    padding-right: 20px;
}

.currentScreenTxt {
    font-size: 52px;
    margin: 0 0 20px 0;
}

.btns {
    display: grid;
    height: 500px;
    width: 450px;
    margin: 10px 0 0;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    color: white;
    border-radius: 25px;
    font-size: 18px;
    border-color: black;
}

.btn.number {
    background-color: rgb(136, 136, 136);
}

.btn.number:hover {
    background-color: white;
    color: black;
}

.btn.clear, .btn.equal {
    background-color: rgb(88, 88, 88);
}

.btn.operator {
    background-color: orange;
}

.btn.operator:hover {
    background-color: white;
    color: orange;
}

.btn.operator.active {
    background-color: white;
    color: orange;
}