* {
    box-sizing: border-box;
}

.calculator {
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 500px;
    height: 700px;
}

.screen {
    background-color: gray;
    height: 150px;
    width: 450px;
    margin: auto;
}

.buttons {
    display: grid;
    height: 500px;
    width: 450px;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 90px;
    height: 90px;
    color: white;
}